<template>
    <div>
        <input type="text" v-model="newContact" placeholder="Name" >
        <button @click="addContact">Add Contact</button>
        <button @click="sort">Sort</button>

        <transition-group tag="ul" name="slide-up" appear>
            <li v-for="contact in contacts" :key="contact">
                {{ contact }}
            </li>
        </transition-group>
    </div>
</template>

<script>
export default {
    data() {
        return {
            newContact: '',
            contacts: ['Marlon', 'Laura']
        }
    },
    methods: {
        addContact() {
            this.contacts.push(this.newContact)
            this.newContact = ''
        },
        sort() {
            this.contacts.sort()
        }
    }
}
</script>