<template>
    <div>
        <MessageDisplay />
    </div>
</template>

<script>
import MessageDisplay from './MessageDisplay';

export default {
    components: {
        MessageDisplay
    }
}
</script>
