<template>
  <AppHeader />
  <RandomNumber />
  <MessageContainer />
</template>

<script>
import AppHeader from './components/AppHeader';
import RandomNumber from './components/RandomNumber';
import MessageContainer from './components/MessageContainer';

export default {
  components: {
    AppHeader,
    RandomNumber,
    MessageContainer
  }
  
}
</script>
